* {
    color: #0000EE;
}

*:hover {
    color: #CC33CC;
}

nav {
    display: flex;
    flex-direction: column;
    border: gold solid 3px;
    float: left;
}

.top-bar {
    display: flex;
    border: magenta solid 3px;
    justify-content: center;
}

.top-bar-link {
    margin-right: 20px;
    margin-left: 20px;
}

.right-bar {
    display: flex;
    flex-direction: column;
    border: lime solid 3px;
    float: right;
}

main {
    display: flex;
    border: turquoise solid 3px;
}
main h2 {
    margin-left: 30px;
}